@font-face {
    font-family: 'reg-popins';
    src: url(/fonts/Poppins-Regular.ttf);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    font-family: 'reg-popins';
}
header{
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 100%;
}
.toggle{
    display: flex;
    height: 10%;
    background: linear-gradient(to top right, rgb(59, 179, 113), rgb(63, 206, 139));
    align-items: center;
    justify-content: center;
}
i{
    cursor: pointer;
}

i.fa-times{
    display: none;
}
nav{
    height: 90%;
    display: flex;
    align-items: center;
    background-color: rgb(37, 37, 37);
    overflow: hidden;
}
nav ul{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
}
nav ul li {
    display: flex;
    padding: 10px 20px;
    transition: 0.5s;
    width: 100%;
    border-radius: 15px;
    justify-content: flex-start;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: flex-start;
}
nav ul li a span{
    display: flex;
    margin: 0 20px;
}
nav ul li:hover{
    transition: 0.5s;
    background-color: rgb(20, 20, 20);
}

@media only screen and (max-width: 480px){
    nav{
        width: 0%;
        overflow: hidden;
    }
}

main{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color:rgb(26, 26, 26);
    
}